<html>

<head>
  <title>User Reviews</title>
  <style>
    .reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    .review {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border: 1px solid #ccc;
      padding: 20px;
      width: 600px;
      max-width: 100%;
    }

    .user-avatar {
      width: 70px;
      height: 70px;
      margin-right:
        20px;
    }

    .user-avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .user-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .user-email {
      font-size: 14px;
      color: #999;
      margin-bottom: 10px;
    }

    .review-comment {
      font-size: 16px;
      line-height:
        1.5;
      margin-bottom: 10px;
    }

    .review-date {
      font-size: 14px;
      color: #999;
      margin-bottom: 10px;
    }

    .review-stars {
      font-size: 20px;
      color: #f1c40f;
      margin-left: auto;
    }

    .review-stars i {
      margin-right: 5px;
    }

    h1 {
      text-align: center;
    }
    
        #navBar {
            background-color: #73ceb7;
            overflow: hidden;
        }

        #navBar a {
            padding: 7px 8px;
            text-decoration: none;
            color: white;
            font-weight: 700;
        }

        #navBar a:hover {
            background-color: #ddd;
            color: black;
            border-radius: 10px;

        }

        #navLogo {
            width: 50px;
            height: 50px;
            margin-top: 5px;
            margin-left: 7%;
        }

        #navBar {
            display: flex;

        }

        .navBarList {
            margin-left: 35%;
            margin-top: 15px;
        }

        #autoBuyBtn {
            margin-bottom: 10px;
        }

        #navBar h2 {
            color: rgb(249, 242, 242);
            border-radius: 10px;
            margin: 10px;
            margin-left: 5%;
        }
  </style>
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/navbar2.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>


  {{!-- <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">Virtual Trade</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/api/showUserStocks/stockHome">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>


      <li class="profile">
        <div class="profile-details">
          <img src="profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name"></div>
            <div class="job">Web designer</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out"></i>
      </li>
    </ul>
  </div> --}}


  <nav id="navBar">
    <img id="navLogo" src="/images/logo2.png" alt="logo">
    <h2>Trade Vantage</h2>
    <div class="navBarList">
      <a href="/api/showUserStocks/stockHome">Home</a>
      <a href="/api/showUserStocks/showUserStocks">My Stocks</a>
      <a href="/api/showUserStocks/stockSelect">Stocks</a>
      <a href="/api/profileauth/transactionHistory">Transaction History</a>
    </div>
  </nav>





  <h1>User Reviews</h1>
  <div class="reviews">
    <div>


      <!-- -- card -- -->

      <div id="card-div"
        style="display:flex; align-items:center; justify-content: space-between; margin-top: 40px; width:100%">
        {{#if result}}
        {{#each result}}

        <a href="#">
          <div class="card">

            <div class="profile-img display-flx">

              <div><img class="UserImg"
                  src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/ankitImg.863e0afa.png"
                  width="56" height="56" alt="Ankit" /></div>

              <div></div>
            </div>

            <div class="say">{{this.comment}}</div>
            <div class="name">{{this.username}}</div>
            <div class="company">Product Specialist, Google</div>

          </div>
        </a>

        {{/each}}

        {{else}}
        <div class="stock-container" id="par">
          <h1 id="hr">No Reviews available</h1>

        </div>
        {{/if}}
      </div>

    </div>
  </div>
  <script src="/scripts/navbar2.js"></script>
</body>

</html>