<!DOCTYPE html>
<html>
<body>

  <form id="parwez" action="" method="post" name="login">
     
   

      <input onclick="myFunction()" type="submit" value="Register">
     
      

    

      
    </form>





<script>
    let forms=document.getElementById('parwez');

function myFunction() {
  let text;
  if (confirm("Press a button!") == true) {
      forms.action=`/api/registerauth/confirm_register/${id}/${token}`
  } else {
    text = "You canceled!";
  }
  document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html>
